{% extends "homepage/header.html" %}

{% block content %}
  <div class="topnav container">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  
      <a class="nav-item nav-link" href="/">Smash Rank</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home ></a>
      <a class="nav-item nav-link active" href="">About<span class="sr-only">(current)</span</a>
      <a class="nav-item nav-link" href="index-login.html">Sign-In</a>
      <a class="nav-item nav-link" href="index-register.html">Register</a>
    </div>
  </div>
    </nav>
  </div>
  <div class="bodytext container">
      <p>
        Super Smash Bros. Melee has been a passion for me ever since 2013, when I saw EVO 2013. I first started competing in 2015 when I entered UCLA. Though I was satisfied with just being a competitor, eventually I wanted to give back to the community by organizing tournaments. The greatest problem I encountered was that of seeding. As one might expect, seeding was one of the most disputed topics in the community. While the standings of the top players at UCLA were pretty easy to figure out, the rankings for mid-level and lower-level players was much less distinct. I realized that at least in our community, seeding was mostly based on gut feeling rather than concrete results. Because of this, I decided to create a website that would record tournament sets and analyze the results in order to create help provide accurate rankings in order to provide a fair system to players of all levels.
      </p>

      <p>
        This website was created by Andrew Yoon, a UCLA student. If you have any feedback/bug reports, email him at andrewy563@gmail.com. 
      </p>
  <div>
{% endblock %}