<!-- Made by Andrew Yoon. Check out my github here: github.com/andrewy563
  If you would like to learn more about here, check out linkdin.com/ -->
{% extends "homepage/header.html" %}


{% block content %}
  <div class="topnav container">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  
      <a class="nav-itme nav-link" href="/">Smash Rank</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="about/">About</a>
      <a class="nav-item nav-link" href="index-login.html">Sign-In</a>
      <a class="nav-item nav-link" href="index-register.html">Register</a>
    </div>
  </div>
    </nav>
  </div>
  <div class="bodytext container">
      <p>
      Welcome Smash Rank! This website aims to help provide statistics to accurately rank competitors based on tournament results in your local scene.
    </p>
  <div>
{% endblock %}